<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add name="MainDBConnection" connectionString="Data Source=localhost\SQLEXPRESS; Trusted_Connection=True; Database=DB_ProductsContext;" providerName="System.Data.SqlClient" />
  <add name="AzureServiceBusTransport" connectionString="Endpoint=sb://globalpschannel.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=e3iSoH/zvSW3XqYw11kbNIlsfc02bRLoJmkZLrdcABE=" />
</configuration>